body{
	background-color: rgba(0,0,0,0.7);
}
*{
	font-family: Footlight MT Light; 
}
#my_body{
	background: #99ddff;
	width: 80%;
	margin-left: 150px;
	margin-right: 100px;
	border-radius: 20px;
	font-family: Footlight MT Light;
}
#top_menu1{
	height: 100px;
	margin-right: 150px; margin-left: 150px;
	background-color: white;
	border-radius: 10px;
}

#top_menu3{
	height: 150px;
	margin-right: 10px; margin-left: 10px;
	background-color: white;
	border-radius: 10px;

}
#top_menu{
	 width: 98.5%;
	margin-right: 10px; margin-left: 10px;
	background-color: white;
	border-radius: 5px;
	font-weight: bold;
}

#search_button{
	margin-top: 5px;
	float: right;
	color: red;
	font-size: 18px;
	font-weight: bold;
}
#login_id{
	margin-top: 10px;
	margin-left: 10px;
	float: right;
	font-size: 18px;
	font-weight: bold;
	color: red;
	margin-right: 10%;

}
#my_table{
	font-family: Footlight MT Light;
	font-size: 20px;
	text-align: center;
	background-color: white;
	color: red;
	width: 98.5%;
	margin-right: 10px; margin-left: 10px;margin-top: 10px;
	border-radius: 10px;
}
.my_line{
	margin-top: 0px;
	background-color: white;
	border-bottom: solid lightblue;
	padding: 10px;
	color: red;
}
#img{
	margin-left: 10px;
	float: left;
	height: 100px;
}
#samdos{
	text-align: center; font-family: Castellar;
	font-size: 70px; color: red;
	font-weight: bolder;

}
#advert{
	height: 100px;
	margin-right: 10px; margin-left: 10px;
	background-color: white;
	border-radius: 5px;
	font-size: 70px;
	color: red;
}
#advert1{
	background-color: lightblue;
	border-radius: 5px;
	font-size: 70px;
	margin-top: 10px;
	height: 130px;
	width: 400px;
	color: red;
	float: left;
	margin-left: 10px;
}

#computer{
	padding: 3px;
	border: 2px solid white;
	list-style-type: none;
	display: inline-block;

	
}
#lists{
	display: inline-block;
	padding: 8px;
	font-size: 20px;
	color: red;
}
a{
	text-decoration: none;
}
.border_table{
	border: 2px solid blue;
	border-radius: 5px;
	color: green;

}
.line{
	border-top: 2px solid blue;
}
#sect_news{
	height: 50px;
	background: white;
	margin-right: 520px; margin-left: 520px;
	border-radius: 5px;
}
#para_news{
	text-align: center;
	font-size: 20px;
	font-family: Arial Black;
	color: red;

}
/* -----------footer-----------------------*/
#down_menu{
	height: 100px;
	margin-right: 10px; margin-left: 10px;
	background-color: lightblue;
	border-radius: 5px;
	text-align: center;
	color: red;
	font-size: 18px;
	padding: 5px;
}
.footer_table{
	font-weight: bold;
	color: red;
	margin-right: 30px;
	float: right;
}
#about{
	height: auto;
	margin-left: 10px; margin-right: 10px;
	background: white; border-radius: 5px;
}
#about_us{
	text-align: center;
	color: red;
	font-size: 50px;
	border:5px solid lightblue;
	margin-left: 10px; margin-right: 10px;
	border-radius: 5px;
	background: lightblue;
}