#science_complex{
	font-size: 24px;
	margin-left: 10px; margin-right: 10px; margin-top: 10px;
	color: brown;
	text-indent: 30px;
}
#images{
	margin-left: 400px;
	margin-top: 20px;
}
#comment{
	height: auto;
	margin-right: 10px; margin-left: 10px;
	background-color: white;
	border-radius: 5px;
	font-size: 18px;
	color: brown;
}
#reply{
	margin-left: 15px;
}
#textarea{
	height: 100px;
	width: 500px;
	margin-left: 15px;
}
.shift{
	margin-left: 15px;
	width: 300px;
	height: 30px;
}
#post{
	height: 30px;
	width: 150px;
	margin-left: 15px;
	text-align: center;
	background: lightblue;
	color: brown;
	font-size: 18px;
	font-family: calibri;
	border-radius: 5px;
}
#comment_post{
	height: auto;
	margin-right: 10px; margin-left: 10px;
	background-color: white;
	border:2px solid lightblue;
	border-radius: 5px;
	font-size: 18px;
	color: brown;
	text-indent: 20px;
}
#baby{
	float: right;
	margin-right: 20px;
	height: 100px;
	width: 100px;

}